@font-face
{
  font-family: 'SourceSans-Reg';
  src: url('fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'SourceSans-Bold';
  src: url('fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face
{
  font-family: 'SourceSans-SemiBold';
  src: url('fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype');
}

body{
  font-family: 'SourceSans-SemiBold', sans-serif;
}

label {
  display: block;
  margin: 0.4em 0 0.4em 0;
  width: 100%;
  font-size: 1.1em;
}
select{
  margin-right: 1.7em;
  float: right;
}
fieldset{
  padding-bottom: 0;
}

#container {
  display: grid;
  width: 95vw;
  height: 95vh;
  grid-template-columns: [stepPanel] 150px [paper] 70% [metaPanel] 220px;
  grid-template-rows: [topPanel] 2.6em [toolBar] 1.8em [paper] 86% [paperSwitch] 1.85em;
  margin-left: 1vw;
}

/* PAPERS */
#papers {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#paper1 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/*PAPER-SWITCH*/
#paperSwitch {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: grey;
  width: 100%;
  transition: 0.5s;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.65em 1.2em;
  transition: 0.3s;
  font-size: 0.7em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tab button ::after {
  content: "x"
}

/* HIDDEN XPROC-DIV */
#xproc_xml {
  display: none;
}

/* TOP-PANEL/ MENUE */
#topPanel {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #1f8780e6;
  padding: 0.6em 1em;
  display: flex;
  justify-content: space-between;
}
#topPanel label{
  display: inline;
  width: initial;
  font-size: 0.8em;
}

#drp_file {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 0;
  margin: 0.2em 0;
}

#drp_file li {
  background-color: red;
  list-style-type: none;
  margin: 0.2em 0;
}

.btnStd {
  padding: 0.3em;
  border-radius: 0.5em;
  font-size: 0.7em;
}

#btn_menu {
  align-self: center;
}

.btn_menu {
  background-color: #fa9c9c;
}

#drpdwn_file:hover #drp_file {
  display: block;
}

#btnSub {
  align-self: center;
}

.btnSub {
  background-color: lightgray;
  font-weight: bold;
  color: #5d6263;
}

.btnSub:hover {
  background-color: #a2a2a2;
  color: #efefef;
}

#pipeImport {
  border: 0.13em dashed #b8efd9;
  padding: 0.13em;
  color: gold;
  align-self: center;
  margin-right: 1em;
}

#btnSavePipe {
  background-color: darkcyan;
  color: gold;
  font-weight: bold;
}

#btnImportPipe:hover {
  background-color: #266c6c;
  color: #fbdf4a;
}

#pipeExport {
  border: 0.13em dashed #b8efd9;
  padding: 0.16em 0.28em 0.35em 0.28em;
  color: gold;
  align-self: center;
  /*display: inherit;*/
}
#pipeExport input{
  width: 1em;
  height: 1em;
  outline: none;
  vertical-align: middle;
}
#pipeDownload{
  border: 0.13em dashed #b8efd9;
  padding: 0.13em;
  color: gold;
  align-self: center;
  display: inherit;
}

.btnExp {
  background-color: #ba462e;
  color: gold;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  border: 2px solid;
}
.btnExp a{
  cursor: default;
}

.btnExp:hover {
  background-color: #c61010;
  color: gold;
}

/*TOOL BAR*/
#toolBar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #8bd0d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#toolBar label {
  font-weight: bold;
  font-size: 0.8em;
}

.btnToolBar {
  height: 1.5em;
  width: 1.5em;
  border: none;
  background-color: unset;
  margin: 0 0.2em 0 0.2em;
}

.btnToolBar img {
  width: 1.5em;
  height: 1.5em;
}

#backForwardBtns {
  display: inherit;
  width: 4em;
  justify-content: inherit;
}

#optionBtns {
  display: flex;
  align-items: center;
}

#btnForward img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*STEP PANEL*/
#stepPanel {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  overflow: hidden;
  background-color: #c1ebf0;
  opacity: 0.9;
  z-index: 1;
  display: grid;
  grid-template-rows: 29% 29% 21% 21%;
}

.stepPanelGroup {
  grid-column: 1 / 2;
  height: 100%;
}

.stepGroup {
  overflow-y: scroll;
}

#stepPanel input {
  width: 100%;
  z-index: 1;
  padding: 0 0.2em 0 0.2em;
  font-size: 0.7em;
  text-align: center;
}

#stepPanel h2 {
  font-family: 'SourceSans-Reg', sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  line-height: 1em;
}

#stepPanel ul {
  padding: 0 0.2em 0 0.5em;
  margin: 0.05em 0 0 0;;
}

#stepPanel li {
  width: 96%;
  margin: 0.4em 0;
  padding: 0.25em 0;
  color: white;
  border-radius: 0.9em;
  list-style-type: none;
  cursor: move;
  text-align: center;
  border: 0.1em dotted black;
  font-size: 0.85em;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
}

#stepPanelAtomic {
  grid-row: 1 / 2;
}
#stepPanelAtomic h2{
  margin: 10% 0 6% 0;
}

#stepPanelAtomic li {
  background-color: #f86f75;
}
#atomicUL{
  height: 67%;
}
#inputAtomicStep{
  height: 9%;
}

#stepPanelCompound {
  grid-row: 2 / 3;
}
#stepPanelCompound h2{
  margin: 8% 0 6% 0;
}

#stepPanelCompound li {
  background-color: #6FB7FF;
}
#compoundUL{
  height: 67%;
}
#inputCompoundStep{
  height: 9%;
}
#stepPanelTranspect {
  grid-row: 3 / 4;
}
#stepPanelTranspect h2{
  margin: 0% 0 6% 0;
}
#inputTranspectStep{
  height: 14%;
}

#stepPanelTranspect li {
  background-color: #95a524;
}
#transpectUL{
  height: 66%;
}

#stepPanelCustom {
  grid-row: 4 / 5;
}

#stepPanelCustom li {
  background-color: #359B2B;
}
#stepPanelCustom h2{
  margin: 6% 0 6% 0;
}
#inputCustomStep{
  height: 14%;
}
#customUL{
  height: 59%;
}

/* META-PANEL*/
#metaPanel {
  grid-column: 3 /4;
  grid-row: 1 / 5;
  background-color: #c1ebf0;
  overflow: hidden;
  align-items: start;
  height: 100%;
}

#metaPanel h1 {
  text-align: center;
  color: #4ea7bb;
}
.btnInput{
font-size: 1em;
  margin: 0.5em 0 0.5em 0;

}

.metaArea {
  text-align: center;
  display: none;
  font-size: 0.8em;
}
#metaHead{
  grid-row: 1 / 3;
  margin: 0.2em 0 0.2em 0;
}

.metaArea h2 {
  width: 100%;
  background-color: floralwhite;
  font-family: 'SourceSans-SemiBold', sans-serif;
  margin: 0 0 0.4em 0;
}

#metaInfo{
  grid-row: 3 / 5;
  max-height: 18vh;
  padding-bottom: 0.8em;
}
#metaInfo label{
  text-align: left;
}
#metaInfo select{
  margin-right: 6.4em;
}
#metaInfo input{
  float: right;
  width: 72%;
}
#metaPorts{
  grid-row: 5 / 9;
  max-height: 39%;
  overflow: hidden;
}
#divPortsHead{
  height: 1.2em;
  width: 100%;
}

.h3Port{
  padding: 0.4em 0 0.4em 0;
  margin: 0;
}

.h3Input{
  width: 33.3%;
  float:left;
  background-color: #CAFF3A;
  cursor: initial;
}
.h3Output{
  width: 33.3%;
  float:left;
  background-color: #ff804a;
  cursor: pointer;
}
.h3Stub{
  width: 33.3%;
  float:right;
  background-color: #63aeff;
  cursor: pointer;
}
.divPorts{
  max-height: 29vh;
  overflow: auto;
  width: 100%;
  margin-bottom: 0.5em;
}
#divInput{
  background-color: #CAFF3A;
}
#divOutput{
  background-color: #ff804a;
}
#divStub{
  background-color: #63aeff;
}

.stubListUl{
  padding: 0;
}
.stubListLi{
  color: white;
  list-style-type: none;
}

#metaOptions{
  grid-row: 9 / 14;
  max-height: 37%;
  overflow: auto;
}
#divOption{
  max-height: 29vh;
  overflow: auto;
}

.port-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.port-name input{
  font-size: 0.8em;
  font-family: 'SourceSans-SemiBold', sans-serif;
  text-align: center;
  width: 77%;
}
.option-name{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.option-name input{
  font-size: 0.9em;
  font-family: 'SourceSans-SemiBold', sans-serif;
  text-align: center;
  width: 77%;
}
.option input{
  font-size: 0.9em;
  font-family: 'SourceSans-SemiBold', sans-serif;
  text-align: center;
  width: 77%;
}

/* JOINT-JS */
/* PORTS */
.port-label {
  fill: white;
  font-weight: bold;
  text-anchor: middle;
  display: block;
  font-size: 0.8em;
}

.port-body {
  fill: #fff;
  stroke: #000;
}

.in-ports {
  fill: #CAFF3A;
}

.out-ports {
  fill: #ff804a;
}

.primary {
  stroke: #000;
}

.sequence {
  stroke: #000;
  fill: yellow;
}

.port-label {
  /*display: none;*/
}

.joint-cell {
  display: block;
}

.port-head {
  color: aliceblue;
  margin: 5px;
  text-transform: full-width;
  text-align: center;
}

/*!*Model Label*!*/
.joint-type-xproc-option .label {
  font-family: 'SourceSans-Reg', sans-serif !important;
  font-size: 0.8em !important;
}
.label {
  font-size: 1em;
}

.word2 {
  fill: #ffe3b4;
  font-weight: bold;
  font-size: 1.1em;
  text-anchor: middle;
}

.joint-type-xproc-option .label {
  font-size: 1em;
}

/*Model-Effekte*/
.element-tools {
  display: none;
  cursor: pointer;
}

.element-tools:hover {
  display: block;
}

.rotatable:hover + .element-tools {
  display: block;
}

.element-tool-big:hover {
  fill: #1ABC9C;
}

.element-tool-big {
  transform: translate(200px, 0) rotate(45deg);
}

.element-tool-small {
  display: none;
  transform: translate(200px, 0) rotate(45deg);
}

.element-tool-meta {
  transform: translate(100px, 60px);
}

.element-tool-boeppel {
  transform: translate(30px, 78px);
}

.newBoeppel > g {
  font-size: 0.8em;
}

.xplEl > .element-tools > .element-tool-options {
  transform: translate(60px, 686px);
}

.xplEl > .element-tools > .element-tool-boeppel {
  transform: translate(90px, 675px);;
}

/*HIGHLIGHT*/
.highlight-class > g > g > rect {
  stroke: red;
}

.highlight-class > g > rect {
  stroke: red;
}
#downloadlink {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}